In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame({'key1': list('aabba'),
                'key2': ['one', 'two', 'one', 'two', 'one'],
                'data1': np.random.random(5), 
                'data2': np.random.random(5)})

In [3]:
df

  key1 key2     data1     data2
0    a  one  0.588332  0.835167
1    a  two  0.417261  0.887967
2    b  one  0.635990  0.848742
3    b  two  0.620604  0.450685
4    a  one  0.360430  0.693000

In [4]:
grouped = df.groupby('key1')

In [5]:
grouped['data1'].quantile(0.9)

key1
a    0.554118
b    0.634452
Name: data1, dtype: float64

In [6]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [7]:
grouped.agg(peak_to_peak)

         data1     data2
key1
a     0.227902  0.194967
b     0.015387  0.398057

In [8]:
grouped.describe()

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0  0.455341  0.118627  0.360430  0.388845  0.417261  0.502796
b      2.0  0.628297  0.010880  0.620604  0.624450  0.628297  0.632144

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a     0.588332   3.0  0.805378  0.100839  0.693000  0.764084  0.835167
b     0.635990   2.0  0.649714  0.281469  0.450685  0.550199  0.649714


           75%       max
key1
a     0.861567  0.887967
b     0.749228  0.848742

## 逐列及多函数应用

In [9]:
tips = pd.read_csv('examples/tips.csv')

In [ ]:
tips