<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
data = DataFrame(np.arange(16.).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])

In [3]:
data

           one   two  three  four
Ohio       0.0   1.0    2.0   3.0
Colorado   4.0   5.0    6.0   7.0
Utah       8.0   9.0   10.0  11.0
New York  12.0  13.0   14.0  15.0

In [4]:
data.loc['Colorado', ['two', 'three']] # 'Colorado'行，'two'和'three'行

two      5.0
three    6.0
Name: Colorado, dtype: float64

In [5]:
data.iloc[2, [3, 0, 1]] # 第3行，第4，1，2列

four    11.0
one      8.0
two      9.0
Name: Utah, dtype: float64

In [6]:
data.iloc[2] # 第3行

one       8.0
two       9.0
three    10.0
four     11.0
Name: Utah, dtype: float64

In [7]:
data.iloc[[1, 2], [3, 0, 1]] # 第2，3行，第4，1，2列

          four  one  two
Colorado   7.0  4.0  5.0
Utah      11.0  8.0  9.0

In [8]:
data.loc[:'Utah', 'two'] # 行切片，包含尾部，two列

Ohio        1.0
Colorado    5.0
Utah        9.0
Name: two, dtype: float64

In [9]:
data.iloc[:, :3][data.three > 5] # 所有的行，前3列，three列大于5

           one   two  three
Colorado   4.0   5.0    6.0
Utah       8.0   9.0   10.0
New York  12.0  13.0   14.0

In [11]:
from pandas import Series
ser = Series(np.arange(3.))

In [12]:
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [13]:
ser[-1] #

KeyError: -1

In [14]:
ser2 = Series(np.arange(3.), index=['a', 'b', 'c'])

In [15]:
ser2[-1] # 最后一个

2.0

In [16]:
ser2[:1] # 切片

a    0.0
dtype: float64

In [17]:
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [18]:
ser[:1]

0    0.0
dtype: float64

In [19]:
ser.iloc[:1]

0    0.0
dtype: float64