<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#unique()-返回Series中的唯一值" data-toc-modified-id="unique()-返回Series中的唯一值-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>unique() 返回Series中的唯一值</a></span></li><li><span><a href="#value_counts()-返回各个值出现的次数" data-toc-modified-id="value_counts()-返回各个值出现的次数-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>value_counts() 返回各个值出现的次数</a></span></li><li><span><a href="#isin()-执行向量化的成员属性检测" data-toc-modified-id="isin()-执行向量化的成员属性检测-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>isin() 执行向量化的成员属性检测</a></span></li></ul></div>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
obj = Series(list('cadaabbcc'))

In [3]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

## unique() 返回Series中的唯一值

In [4]:
# 唯一值
uniques  = obj.unique()

In [5]:
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [6]:
uniques.sort()

In [7]:
uniques

array(['a', 'b', 'c', 'd'], dtype=object)

## value_counts() 返回各个值出现的次数

In [8]:
obj.value_counts() # 各个唯一值的个数

c    3
a    3
b    2
d    1
dtype: int64

In [9]:
pd.value_counts(obj.values, sort=False) # 传入sort=False参数，按数量降序排序

a    3
b    2
c    3
d    1
dtype: int64

## isin() 执行向量化的成员属性检测

In [10]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [11]:
mask = obj.isin(['b', 'c'])

In [12]:
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [12]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [13]:
obj[obj.isin(['b', 'c'])]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [14]:
to_match = Series(list('cabbca'))

In [15]:
to_match

0    c
1    a
2    b
3    b
4    c
5    a
dtype: object

In [16]:
unique_vals = Series(list('cba'))

In [17]:
unique_vals

0    c
1    b
2    a
dtype: object

In [18]:
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2], dtype=int64)

In [19]:
data = DataFrame({'Qu1': [1, 3, 4, 3, 4],
                  'Qu2': [2, 3, 1, 2, 3],
                  'Qu3': [1, 5, 2, 4, 4]})

In [20]:
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [21]:
result = data.apply(pd.value_counts) # 对列，行标签为所有列中出现的不同值，数值为这些值在每个列中出现的次数

In [22]:
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

In [23]:
result1 = data.apply(pd.value_counts).fillna(0)

In [24]:
result1

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0