<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

combine_first 两个数据的索引全部或部分重叠，根据传入对象来“修补”调用对象的缺失值

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
a = Series([np.nan, 2.5, 0.0, 3.5, 4.5, np.nan], 
           index=list('fedcba'))

In [4]:
b = Series([0., np.nan, 2., np.nan, np.nan, 5.],
           index=list('abcdef'))

In [5]:
a

f    NaN
e    2.5
d    0.0
c    3.5
b    4.5
a    NaN
dtype: float64

In [6]:
b

a    0.0
b    NaN
c    2.0
d    NaN
e    NaN
f    5.0
dtype: float64

In [7]:
np.where(pd.isnull(a), b, a) # np.where() 如果a中的值为缺失值时，则用b中的来替换

array([0. , 2.5, 0. , 3.5, 4.5, 5. ])

In [8]:
b.combine_first(a) # 用a来修补b中的缺失值

a    0.0
b    4.5
c    2.0
d    0.0
e    2.5
f    5.0
dtype: float64

In [9]:
df1 = DataFrame({'a': [1., np.nan, 5., np.nan], 
                 'b': [np.nan, 2., np.nan, 6.], 
                 'c': range(2, 18, 4)}) # 2, 6, 10, 14

In [10]:
df2 = DataFrame({'a': [5., 4., np.nan, 3., 7.], 
                 'b': [np.nan, 3., 4., 6., 8.]})

In [11]:
df1

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  6.0  14

In [12]:
df2

     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0

In [13]:
df1.combine_first(df2) # 用df2来修补df1中的缺失值

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN

In [14]:
df2.combine_first(df1) # 用df1来修补df2中的缺失值

     a    b     c
0  5.0  NaN   2.0
1  4.0  3.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN