<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#set_index()-将一个或多个列变成行索引，默认转变的列在列方向上会被移除，传入drop=False，可保留在列上" data-toc-modified-id="set_index()-将一个或多个列变成行索引，默认转变的列在列方向上会被移除，传入drop=False，可保留在列上-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>set_index() 将一个或多个列变成行索引，默认转变的列在列方向上会被移除，传入drop=False，可保留在列上</a></span></li><li><span><a href="#reset_index()-将分层索引的索引层移动到列中" data-toc-modified-id="reset_index()-将分层索引的索引层移动到列中-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>reset_index() 将分层索引的索引层移动到列中</a></span></li></ul></div>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
frame = DataFrame({'a': range(7),
                   'b': range(7, 0, -1), 
                   'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'], 
                   'd': [0, 1, 2, 0, 1, 2, 3]})

In [3]:
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

## set_index() 将一个或多个列变成行索引，默认转变的列在列方向上会被移除，传入drop=False，可保留在列上

In [4]:
frame2 = frame.set_index(['c', 'd']) # c, d列变成index，多层索引

In [5]:
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [6]:
frame.set_index(['c', 'd'], drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

## reset_index() 将分层索引的索引层移动到列中

In [7]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1