<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#duplicated()-返回的是一个Series，反映的是每个行是否存在重复（与之前出现过的行相同）" data-toc-modified-id="duplicated()-返回的是一个Series，反映的是每个行是否存在重复（与之前出现过的行相同）-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>duplicated() 返回的是一个Series，反映的是每个行是否存在重复（与之前出现过的行相同）</a></span></li><li><span><a href="#drop_duplicates()-返回的是DataFrame，内容是duplicated返回数组中为False的部分" data-toc-modified-id="drop_duplicates()-返回的是DataFrame，内容是duplicated返回数组中为False的部分-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>drop_duplicates() 返回的是DataFrame，内容是duplicated返回数组中为False的部分</a></span><ul class="toc-item"><li><span><a href="#drop_duplicates()默认是保留第一个观测到的值，传入keep='last'保留最后一个" data-toc-modified-id="drop_duplicates()默认是保留第一个观测到的值，传入keep='last'保留最后一个-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>drop_duplicates()默认是保留第一个观测到的值，传入keep='last'保留最后一个</a></span></li></ul></li></ul></div>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                  'k2': [1, 1, 2, 3, 3, 4, 4]})

In [3]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

## duplicated() 返回的是一个Series，反映的是每个行是否存在重复（与之前出现过的行相同）

In [4]:
data.duplicated() # 返回的是一个Series，反映的是该行是否与之前的行重复

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

## drop_duplicates() 返回的是DataFrame，内容是duplicated返回数组中为False的部分

In [5]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [6]:
data['v1'] = range(7) # 增加一列

In [7]:
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [8]:
data.drop_duplicates(['k1']) # 基于'k1'列去除重复值

    k1  k2  v1
0  one   1   0
1  two   1   1

### drop_duplicates()默认是保留第一个观测到的值，传入keep='last'保留最后一个

In [9]:
data.drop_duplicates(['k1', 'k2'], keep='last') # 基于'k1'和'k2'列去除重复值，keep='last' 保留最后一个

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6