In [1]:
import pandas as pd

In [2]:
rats = pd.read_csv('rats.csv', skipfooter=1, engine='python')
rats.head()

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,Number of Premises Baited,Number of Premises with Garbage,Number of Premises with Rats,Current Activity,Most Recent Action,...,Police District,Community Area,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,12/18/2018,Open,NaN,18-03388270,Rodent Baiting/Rat Complaint,NaN,NaN,NaN,NaN,NaN,...,17.0,21.0,41.940253,-87.696093,"(41.940252960348, -87.696092533073)",2.0,21538.0,22.0,425.0,20.0
1,12/18/2018,Open,NaN,18-03388125,Rodent Baiting/Rat Complaint,NaN,NaN,NaN,NaN,NaN,...,20.0,2.0,41.988474,-87.705812,"(41.98847449993, -87.705811949507)",46.0,4450.0,20.0,65.0,24.0
2,12/18/2018,Open,NaN,18-03388055,Rodent Baiting/Rat Complaint,NaN,NaN,NaN,NaN,NaN,...,17.0,14.0,41.963051,-87.727885,"(41.963051420227, -87.727885158144)",28.0,21869.0,14.0,257.0,12.0
3,12/18/2018,Open,NaN,18-03386546,Rodent Baiting/Rat Complaint,NaN,NaN,NaN,NaN,NaN,...,19.0,7.0,41.928771,-87.668625,"(41.928771396163, -87.668625093921)",16.0,21190.0,68.0,743.0,40.0
4,12/18/2018,Open,NaN,18-03387374,Rodent Baiting/Rat Complaint,NaN,NaN,NaN,NaN,NaN,...,25.0,18.0,41.925397,-87.797734,"(41.925396948049, -87.797734406018)",39.0,4454.0,18.0,136.0,44.0

In [3]:
rats.shape

(319186, 25)

In [4]:
rats.describe()

,Number of Premises Baited,Number of Premises with Garbage,Number of Premises with Rats,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,Latitude,Longitude,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
count,2.957950e+05,295266.000000,295957.000000,318222.000000,3.191620e+05,3.191620e+05,319164.000000,319164.000000,319164.000000,319162.000000,319162.000000,318575.000000,319162.000000,318570.000000,318492.000000,318605.000000
mean,9.987307e+00,3.643332,2.631303,60631.364924,1.158759e+06,1.899461e+06,27.369973,14.211841,31.418988,41.879846,-87.692544,26.425476,18833.986427,38.133415,391.389332,25.839378
std,4.087229e+03,44.317712,45.173610,186.867900,1.371950e+04,3.145377e+04,14.301072,6.443355,23.612382,0.086418,0.050050,14.438929,6272.435776,21.050424,237.272294,14.157605
min,0.000000e+00,0.000000,0.000000,0.000000,1.096673e+06,1.814222e+06,0.000000,0.000000,0.000000,41.645342,-87.920000,1.000000,2733.000000,1.000000,1.000000,1.000000
25%,0.000000e+00,1.000000,1.000000,60619.000000,1.150332e+06,1.869977e+06,15.000000,8.000000,13.000000,41.798977,-87.723385,15.000000,21186.000000,20.000000,187.000000,14.000000
50%,1.000000e+00,3.000000,2.000000,60630.000000,1.159228e+06,1.908544e+06,29.000000,14.000000,24.000000,41.904890,-87.690557,25.000000,21569.000000,31.000000,364.000000,25.000000
75%,3.000000e+00,5.000000,4.000000,60644.000000,1.167937e+06,1.923591e+06,39.000000,19.000000,57.000000,41.946071,-87.658855,39.000000,22257.000000,59.000000,598.000000,39.000000
max,2.222220e+06,23908.000000,23957.000000,60827.000000,1.205118e+06,1.951503e+06,50.000000,31.000000,77.000000,42.022537,-87.524543,53.000000,26633.000000,77.000000,801.000000,50.000000

In [5]:
rats['Current Activity'].unique()

array([nan, 'Dispatch Crew', 'Request Sanitation Inspector',
       'FVI - Outcome', 'Inspect for Violation'], dtype=object)

In [6]:
crew_dispatched = rats[rats['Current Activity'] == 'Dispatch Crew']

In [7]:
len(crew_dispatched)

297375

In [8]:
crew_dispatched_values = crew_dispatched['ZIP Code'].value_counts()
crew_dispatched_values.iloc[:10]

60618.0    17023
60647.0    16153
60629.0    12497
60614.0    12061
60657.0    10608
60641.0     9803
60636.0     9105
60623.0     8896
60609.0     8760
60645.0     8673
Name: ZIP Code, dtype: int64

In [9]:
dates = crew_dispatched.groupby('Completion Date')
dates

In [10]:
len(dates)

1985

In [11]:
date_counts = dates.size()

In [12]:
date_counts[0:10]

Completion Date
01/01/2014      7
01/02/2013     20
01/02/2014     96
01/02/2015      5
01/02/2018     71
01/03/2011      4
01/03/2012    125
01/03/2013     46
01/03/2014     59
01/03/2017    212
dtype: int64

In [13]:
date_counts.sort_values()[-10:]

Completion Date
06/07/2016    384
10/14/2011    391
08/17/2017    392
10/11/2017    392
11/12/2013    401
10/14/2016    412
10/07/2011    457
07/06/2016    461
11/01/2013    488
09/09/2016    492
dtype: int64