<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#reindex()-按照新的索引进行排列，如果不存在则引入缺失值" data-toc-modified-id="reindex()-按照新的索引进行排列，如果不存在则引入缺失值-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>reindex() 按照新的索引进行排列，如果不存在则引入缺失值</a></span></li><li><span><a href="#传入method参数进行插值，ffill:-前向填充，bfill:-后向填充" data-toc-modified-id="传入method参数进行插值，ffill:-前向填充，bfill:-后向填充-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>传入method参数进行插值，ffill: 前向填充，bfill: 后向填充</a></span></li><li><span><a href="#对DataFrame，reindex可以改变行索引、列索引，也可以同时改变两者" data-toc-modified-id="对DataFrame，reindex可以改变行索引、列索引，也可以同时改变两者-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>对DataFrame，reindex可以改变行索引、列索引，也可以同时改变两者</a></span></li><li><span><a href="#reindex()方法中可传入columns参数来重建列索引" data-toc-modified-id="reindex()方法中可传入columns参数来重建列索引-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>reindex()方法中可传入columns参数来重建列索引</a></span></li></ul></div>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=list('dbac'))

In [3]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

## reindex() 按照新的索引进行排列，如果不存在则引入缺失值

In [4]:
obj2 = obj.reindex(list('abcde')) # 索引'e'之前不存在，将引入缺失值

In [5]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

## 传入method参数进行插值，ffill: 前向填充，bfill: 后向填充

In [6]:
obj3 = Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])

In [7]:
obj3

0      blue
2    purple
4    yellow
dtype: object

In [8]:
obj3.reindex(range(6), method='ffill') # 前向插值：用前面的值来填充缺失值

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

## 对DataFrame，reindex可以改变行索引、列索引，也可以同时改变两者

In [9]:
frame = DataFrame(np.arange(9).reshape((3, 3)),
                  index=list('abd'),
                  columns=['Ohio', 'Texas', 'California'])

In [10]:
frame

   Ohio  Texas  California
a     0      1           2
b     3      4           5
d     6      7           8

In [11]:
frame2 = frame.reindex(list('abcd')) # 改变行索引即index，'c'行之前不存在，将填入缺失值

In [12]:
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   3.0    4.0         5.0
c   NaN    NaN         NaN
d   6.0    7.0         8.0

## reindex()方法中可传入columns参数来重建列索引

In [13]:
states = ['Texas', 'Utah', 'California']

In [14]:
frame.reindex(columns=states) # 之前的'Utah'列不存在，将填充缺失值

   Texas  Utah  California
a      1   NaN           2
b      4   NaN           5
d      7   NaN           8

In [15]:
frame.reindex(['a', 'b', 'c', 'd'], columns=states)

   Texas  Utah  California
a    1.0   NaN         2.0
b    4.0   NaN         5.0
c    NaN   NaN         NaN
d    7.0   NaN         8.0

##  loc 标签索引

In [16]:
frame.loc[['a', 'b', 'c', 'd'], states]

C:\Users\z\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

   Texas  Utah  California
a    1.0   NaN         2.0
b    4.0   NaN         5.0
c    NaN   NaN         NaN
d    7.0   NaN         8.0

In [18]:
frame.reindex(index=['a', 'b', 'c', 'd'], columns=states)

   Texas  Utah  California
a    1.0   NaN         2.0
b    4.0   NaN         5.0
c    NaN   NaN         NaN
d    7.0   NaN         8.0