<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = Series([1., -999., 2., -999., -1000., 3.])

In [3]:
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [4]:
data.replace(-999, np.nan) # 用np.nan来替代-999

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [5]:
data.replace([-999, -1000], np.nan) # 用np.nan来替换-999和-1000

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [6]:
# 将不同的值替换为不同的值
data.replace([-999, -1000], [np.nan, 0]) # 用np.nan来替换-999，用0来替换-1000

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [7]:
data.replace({-999: np.nan, -1000: 0}) # 参数通过字典来传递

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64