<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

pd.get_dummies() 将分类变量转换为“虚拟”矩阵，DataFrame中的一列有k个不同的分类值，可生成k列值为1和0的矩阵或DataFrame

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame({'key': list('bbacab'),
                'data1': range(6)})

In [3]:
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [4]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [5]:
dummies = pd.get_dummies(df['key'], prefix='key') # prefix参数在列上加前缀

In [6]:
dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [7]:
df_with_dummy = df[['data1']].join(dummies) # df[['data1']]为DataFrame，join根据索引合并，默认左连接

In [8]:
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [9]:
mnames = ['movie_id', 'title', 'genres']

In [12]:
movies = pd.read_table('datasets/movielens/movies.dat', 
                       sep='::', # 指定分隔符
                       header=None, # 
                       names=mnames, # 指定列名
                       engine='python')

In [13]:
movies[:10] # show the first 10 lines

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [14]:
all_genres = []

In [15]:
for x in movies.genres:
    all_genres.extend(x.split('|')) # extend() 扩展列表，split('|') 指定分隔符

In [16]:
genres = pd.unique(all_genres) # 返回唯一值

In [18]:
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [19]:
zero_matrix = np.zeros((len(movies), len(genres)))

In [20]:
dummies = DataFrame(zero_matrix, 
                    columns=genres) # 列名

In [21]:
gen = movies.genres[0]

In [22]:
gen.split('|')

['Animation', "Children's", 'Comedy']

In [23]:
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2], dtype=int64)

In [24]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

In [25]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))

In [26]:
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Adventure                                0
Genre_Fantasy                                  0
Genre_Romance                                  0
Genre_Drama                                    0
Genre_Action                                   0
Genre_Crime                                    0
Genre_Thriller                                 0
Genre_Horror                                   0
Genre_Sci-Fi                                   0
Genre_Documentary                              0
Genre_War                                      0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Film-Noir                                0
Genre_Western                                  0
Name: 0, dtype: object

In [27]:
np.random.seed(12345)

In [28]:
values = np.random.rand(10)

In [29]:
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [30]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

In [31]:
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0