<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#sort_index()-对行或列索引进行字典型排序" data-toc-modified-id="sort_index()-对行或列索引进行字典型排序-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>sort_index() 对行或列索引进行字典型排序</a></span></li><li><span><a href="#Series:-sort_values()-根据Series的值进行排序" data-toc-modified-id="Series:-sort_values()-根据Series的值进行排序-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Series: sort_values() 根据Series的值进行排序</a></span></li><li><span><a href="#DataFrame:-sort_values()-传入by参数，使用一列或多列进行值排序" data-toc-modified-id="DataFrame:-sort_values()-传入by参数，使用一列或多列进行值排序-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>DataFrame: sort_values() 传入by参数，使用一列或多列进行值排序</a></span></li></ul></div>

## sort_index() 对行或列索引进行字典型排序

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series(range(4), index=list('dabc'))

In [3]:
obj

d    0
a    1
b    2
c    3
dtype: int64

In [4]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [5]:
frame = DataFrame(np.arange(8).reshape((2, 4)),
                  index=['three', 'one'],
                  columns=list('dabc'))

In [6]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [7]:
frame.sort_index() # 对index进行排序

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [11]:
frame.sort_index(axis=0) # 对index进行排序

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [8]:
frame.sort_index(axis=1) # 对columns进行排序

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [9]:
frame.sort_index(axis=1, ascending=False) # 对columns进行排序，降序

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

## Series: sort_values() 根据Series的值进行排序

In [10]:
obj = Series([4, 7, -3, 2])

In [11]:
obj

0    4
1    7
2   -3
3    2
dtype: int64

In [12]:
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [13]:
obj = Series([4, np.nan, 7, np.nan, -3, 2])

In [14]:
obj

0    4.0
1    NaN
2    7.0
3    NaN
4   -3.0
5    2.0
dtype: float64

In [15]:
obj.sort_values() # 缺失值被排序至Series的末尾

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

## DataFrame: sort_values() 传入by参数，使用一列或多列进行值排序

In [16]:
frame = DataFrame({'b': [4, 7, -3, 2], 
                   'a': [0, 1, 0, 1]})

In [17]:
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [18]:
frame.sort_values(by='b') # 对'b'列进行值排序

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [19]:
frame.sort_values(by=['a', 'b']) # 对'a'和'b'列进行值排序

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1