<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#apply()-将函数应用于一行或一列的一维数组上，默认传入axis=0或axis='index'对列应用函数，传入axis=1或axis='columns'对行应用函数" data-toc-modified-id="apply()-将函数应用于一行或一列的一维数组上，默认传入axis=0或axis='index'对列应用函数，传入axis=1或axis='columns'对行应用函数-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>apply() 将函数应用于一行或一列的一维数组上，默认传入axis=0或axis='index'对列应用函数，传入axis=1或axis='columns'对行应用函数</a></span></li><li><span><a href="#返回带有多个值得Series" data-toc-modified-id="返回带有多个值得Series-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>返回带有多个值得Series</a></span></li><li><span><a href="#applymap()-逐元素使用函数" data-toc-modified-id="applymap()-逐元素使用函数-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>applymap() 逐元素使用函数</a></span></li><li><span><a href="#Series得map()，逐元素应用函数" data-toc-modified-id="Series得map()，逐元素应用函数-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Series得map()，逐元素应用函数</a></span></li></ul></div>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
frame = DataFrame(np.random.randn(4, 3),
                  columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [3]:
frame

               b         d         e
Utah    1.546991 -0.175839  0.256642
Ohio    0.369106  0.931448  2.235691
Texas  -1.000382 -0.708497  0.658955
Oregon -0.240854  0.689555  0.275867

In [4]:
np.abs(frame) # 对每个元素

               b         d         e
Utah    1.546991  0.175839  0.256642
Ohio    0.369106  0.931448  2.235691
Texas   1.000382  0.708497  0.658955
Oregon  0.240854  0.689555  0.275867

## apply() 将函数应用于一行或一列的一维数组上，默认传入axis=0或axis='index'对列应用函数，传入axis=1或axis='columns'对行应用函数

In [5]:
f = lambda x: x.max() - x.min()

In [6]:
frame.apply(f) # 默认对列应用函数，返回的一个以frame的列作为索引的Series

b    2.547373
d    1.639944
e    1.979049
dtype: float64

In [7]:
frame.apply(f, axis=0) # 对列

b    2.547373
d    1.639944
e    1.979049
dtype: float64

In [8]:
frame.apply(f, axis='index') # 对列

b    2.547373
d    1.639944
e    1.979049
dtype: float64

In [9]:
frame.apply(f, axis='columns') # 对行

Utah      1.722830
Ohio      1.866585
Texas     1.659336
Oregon    0.930408
dtype: float64

In [10]:
frame.apply(f, axis=1) # 对行

Utah      1.722830
Ohio      1.866585
Texas     1.659336
Oregon    0.930408
dtype: float64

## 返回带有多个值的Series

In [11]:
def f(x):
    return Series([x.min(), x.max()], index=['min', 'max'])

In [12]:
frame.apply(f) # 对列

            b         d         e
min -1.000382 -0.708497  0.256642
max  1.546991  0.931448  2.235691

In [13]:
frame.apply(f, axis=0) # 对列

            b         d         e
min -1.000382 -0.708497  0.256642
max  1.546991  0.931448  2.235691

In [14]:
frame.apply(f, axis='index') # 对列

            b         d         e
min -1.000382 -0.708497  0.256642
max  1.546991  0.931448  2.235691

In [15]:
frame.apply(f, axis=1) # 对行

             min       max
Utah   -0.175839  1.546991
Ohio    0.369106  2.235691
Texas  -1.000382  0.658955
Oregon -0.240854  0.689555

In [16]:
frame.apply(f, axis='columns') # 对行

             min       max
Utah   -0.175839  1.546991
Ohio    0.369106  2.235691
Texas  -1.000382  0.658955
Oregon -0.240854  0.689555

## applymap() 逐元素使用函数

In [17]:
format = lambda x: '%.2f' % x # 保留两位小数

In [18]:
frame.applymap(format)

            b      d     e
Utah     1.55  -0.18  0.26
Ohio     0.37   0.93  2.24
Texas   -1.00  -0.71  0.66
Oregon  -0.24   0.69  0.28

## Series的map()，逐元素应用函数

In [19]:
frame['e'].map(format)

Utah      0.26
Ohio      2.24
Texas     0.66
Oregon    0.28
Name: e, dtype: object