<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
"""
rank() 对数组从1到有效数据点总数分配名次
method参数：'average'默认，在每个组中分配平均排名
            'min'：对整个组使用最小排名
            'max'：对整个组使用最大排名
            'first'：根据值在数据中出现的次序分配排名
            'dense'：类似于method='min'，但组间排名总是增加1，而不是一个组中的相等元素的数量
"""

"\nrank() 对数组从1到有效数据点总数分配名次\nmethod参数：'average'默认，在每个组中分配平均排名\n            'min'：对整个组使用最小排名\n            'max'：对整个组使用最大排名\n            'first'：根据值在数据中出现的次序分配排名\n            'dense'：类似于method='min'，但组间排名总是增加1，而不是一个组中的相等元素的数量\n"

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
obj = Series([7, -5, 7, 4, 2, 0, 4])

In [4]:
obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [5]:
obj.rank() # 平均排名

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [6]:
obj.rank(method='average') # 平均排名

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [7]:
obj.rank(method='first') # 根据观察顺序进行分配

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [8]:
obj.rank(method='max') # 最大排名

0    7.0
1    1.0
2    7.0
3    5.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [9]:
obj.rank(method='max', ascending=False) # 将值分配给组中最大排名

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [10]:
obj.rank(method='min')

0    6.0
1    1.0
2    6.0
3    4.0
4    3.0
5    2.0
6    4.0
dtype: float64

In [11]:
obj.rank(method='dense')

0    5.0
1    1.0
2    5.0
3    4.0
4    3.0
5    2.0
6    4.0
dtype: float64

In [12]:
frame = DataFrame({'b': [4.3, 7, -3, 2],
                   'a': [0, 1, 0, 1], 
                   'c': [-2, 5, 8, -2.5]})

In [13]:
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [14]:
frame.rank() # 对各行分配名词

     b    a    c
0  3.0  1.5  2.0
1  4.0  3.5  3.0
2  1.0  1.5  4.0
3  2.0  3.5  1.0

In [15]:
frame.rank(axis=0) # 对各行分配名词

     b    a    c
0  3.0  1.5  2.0
1  4.0  3.5  3.0
2  1.0  1.5  4.0
3  2.0  3.5  1.0

In [16]:
frame.rank(axis='columns') # 对各列分配名词

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [17]:
frame.rank(axis=1) # 对各列分配名词

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0