<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#索引、选择、子集" data-toc-modified-id="索引、选择、子集-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>索引、选择、子集</a></span><ul class="toc-item"><li><span><a href="#索引" data-toc-modified-id="索引-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>索引</a></span></li><li><span><a href="#切片" data-toc-modified-id="切片-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>切片</a></span></li><li><span><a href="#truncate()在两个日期间对Series进行切片" data-toc-modified-id="truncate()在两个日期间对Series进行切片-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>truncate()在两个日期间对Series进行切片</a></span></li></ul></li><li><span><a href="#含有重复索引的时间序列" data-toc-modified-id="含有重复索引的时间序列-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>含有重复索引的时间序列</a></span></li></ul></div>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from datetime import datetime

In [2]:
# datetime对象的列表
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [3]:
ts = Series(np.random.randn(6), 
            index=dates)

In [4]:
ts

2011-01-02    1.176859
2011-01-05    0.801294
2011-01-07    1.510715
2011-01-08    0.278202
2011-01-10    0.311886
2011-01-12    0.704061
dtype: float64

In [5]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [6]:
# 在日期上自动对齐
ts + ts[::2]

2011-01-02    2.353718
2011-01-05         NaN
2011-01-07    3.021429
2011-01-08         NaN
2011-01-10    0.623773
2011-01-12         NaN
dtype: float64

In [7]:
ts.index.dtype

dtype('<M8[ns]')

In [8]:
stamp = ts.index[0]

In [9]:
stamp

Timestamp('2011-01-02 00:00:00')

# 索引、选择、子集

## 索引

In [10]:
stamp = ts.index[2]

In [11]:
ts[stamp]

1.5107147282201125

In [12]:
ts['1/10/2011']

0.31188644905117613

In [13]:
ts['20110110']

0.31188644905117613

## 切片

In [14]:
longer_ts = Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))

In [15]:
longer_ts

2000-01-01   -0.908771
2000-01-02   -0.846267
2000-01-03    0.076953
2000-01-04   -1.550801
2000-01-05    0.356770
2000-01-06    0.030539
2000-01-07   -0.070768
2000-01-08   -0.998065
2000-01-09    1.767261
2000-01-10   -1.004697
2000-01-11   -0.234648
2000-01-12   -0.732230
2000-01-13    0.405589
2000-01-14    0.918054
2000-01-15   -0.786640
2000-01-16   -1.170690
2000-01-17    1.064809
2000-01-18   -0.201063
2000-01-19   -0.900586
2000-01-20    0.139329
2000-01-21   -0.099023
2000-01-22    0.143570
2000-01-23   -2.581573
2000-01-24    0.552990
2000-01-25    0.781726
2000-01-26   -0.729891
2000-01-27    0.610920
2000-01-28   -1.327901
2000-01-29    0.704385
2000-01-30    0.673024
                ...
2002-08-28   -0.115112
2002-08-29    1.130277
2002-08-30    0.161417
2002-08-31   -0.295266
2002-09-01   -1.284625
2002-09-02   -0.570006
2002-09-03   -0.086155
2002-09-04   -0.549062
2002-09-05   -0.717255
2002-09-06    0.373191
2002-09-07    1.347899
2002-09-08   -0.345836
2002-09-09    0.269193
2002-09-10   -2.444603
2002-09-11   -0.504051
2002-09-12   -1.214802
2002-09-13   -0.470911
2002-09-14   -1.432692
2002-09-15    0.744379
2002-09-16    1.066646
2002-09-17    1.344273
2002-09-18   -0.127807
2002-09-19    0.368527
2002-09-20    0.010965
2002-09-21    0.103829
2002-09-22    1.210425
2002-09-23   -0.566330
2002-09-24   -0.564703
2002-09-25   -0.362959
2002-09-26   -1.834790
Freq: D, Length: 1000, dtype: float64

In [16]:
longer_ts['2001'] # 年份

2001-01-01   -0.564653
2001-01-02   -0.189111
2001-01-03   -1.058190
2001-01-04   -0.661730
2001-01-05   -0.047993
2001-01-06    0.877221
2001-01-07    0.818494
2001-01-08   -0.737753
2001-01-09    0.009804
2001-01-10   -0.349290
2001-01-11    1.649995
2001-01-12   -0.476898
2001-01-13    0.424494
2001-01-14    1.905486
2001-01-15   -0.700203
2001-01-16    1.806102
2001-01-17    1.335057
2001-01-18    0.426083
2001-01-19    1.140479
2001-01-20   -0.247879
2001-01-21   -0.233762
2001-01-22    0.803493
2001-01-23    0.998596
2001-01-24   -0.601827
2001-01-25   -0.053225
2001-01-26    1.582683
2001-01-27    0.640640
2001-01-28   -0.401563
2001-01-29    1.147557
2001-01-30   -0.796399
                ...
2001-12-02   -0.236384
2001-12-03    1.480681
2001-12-04    0.516838
2001-12-05    0.331966
2001-12-06   -0.270555
2001-12-07   -0.431708
2001-12-08    0.093454
2001-12-09   -0.318764
2001-12-10    0.668562
2001-12-11    0.644477
2001-12-12   -0.381953
2001-12-13   -1.604090
2001-12-14    1.718176
2001-12-15    0.182217
2001-12-16    0.025077
2001-12-17    0.956371
2001-12-18   -0.435588
2001-12-19    1.134396
2001-12-20   -0.180039
2001-12-21    1.115496
2001-12-22   -1.094125
2001-12-23    0.114958
2001-12-24   -0.102754
2001-12-25    0.156424
2001-12-26    0.027811
2001-12-27    0.656852
2001-12-28    0.665884
2001-12-29    0.442617
2001-12-30   -1.285426
2001-12-31    0.584341
Freq: D, Length: 365, dtype: float64

In [17]:
longer_ts['2001-05'] # 2001年5月

2001-05-01    1.396730
2001-05-02    0.744836
2001-05-03   -2.128373
2001-05-04    0.383568
2001-05-05    0.548217
2001-05-06    0.486627
2001-05-07   -0.336008
2001-05-08    2.136047
2001-05-09    0.683803
2001-05-10   -1.058232
2001-05-11   -0.631415
2001-05-12   -2.664435
2001-05-13    1.189119
2001-05-14    0.805148
2001-05-15    0.399951
2001-05-16    0.766418
2001-05-17   -0.534995
2001-05-18   -1.644558
2001-05-19   -0.900122
2001-05-20   -0.829554
2001-05-21    0.864471
2001-05-22    2.022166
2001-05-23    1.730548
2001-05-24    1.136852
2001-05-25   -1.373428
2001-05-26    1.042300
2001-05-27   -0.061669
2001-05-28   -0.380293
2001-05-29   -0.326230
2001-05-30    0.066496
2001-05-31   -0.460404
Freq: D, dtype: float64

In [18]:
ts

2011-01-02    1.176859
2011-01-05    0.801294
2011-01-07    1.510715
2011-01-08    0.278202
2011-01-10    0.311886
2011-01-12    0.704061
dtype: float64

In [19]:
ts[datetime(2011, 1, 7):]

2011-01-07    1.510715
2011-01-08    0.278202
2011-01-10    0.311886
2011-01-12    0.704061
dtype: float64

In [20]:
ts['1/6/2011': '1/11/2011']

2011-01-07    1.510715
2011-01-08    0.278202
2011-01-10    0.311886
dtype: float64

## truncate()在两个日期间对Series进行切片

In [21]:
ts.truncate(after='1/9/2011')

2011-01-02    1.176859
2011-01-05    0.801294
2011-01-07    1.510715
2011-01-08    0.278202
dtype: float64

In [22]:
ts.truncate(before='2011-1-9')

2011-01-10    0.311886
2011-01-12    0.704061
dtype: float64

In [23]:
dates = pd.date_range('1/1/2000', 
                      periods=100, # 100个数据
                      freq='W-WED') # 每周的周三

In [24]:
long_df = DataFrame(np.random.randn(100, 4),
                    index=dates,
                    columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [25]:
long_df.loc['5-2001'] # 2001年5月

            Colorado     Texas  New York      Ohio
2001-05-02  0.606577 -1.063535 -0.331768 -0.111828
2001-05-09 -0.386493  1.579603 -0.320094 -1.306896
2001-05-16  0.656911 -1.344983  0.745489 -1.169463
2001-05-23  0.593128  0.486673 -0.009710 -1.538357
2001-05-30  1.772744 -0.288534 -0.242243 -1.476706

# 含有重复索引的时间序列

In [26]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', 
                          '1/2/2000', '1/3/2000'])

In [27]:
dup_ts = Series(np.arange(5), 
              index=dates)

In [28]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [29]:
# 查看索引是否唯一
dup_ts.index.is_unique

False

In [30]:
dup_ts['1/3/2000'] # 不重复

4

In [31]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [32]:
# 聚合含有重复时间戳的数据
grouped = dup_ts.groupby(level=0)

In [33]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [34]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64